.navbar {
    height: 30px;
    width: 100%;
    top: 0;
    left: 0;
    background-color:#0f0c29;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
}

.navbar nav {
    height: auto;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: space-between;
}

.list-item {
    margin: 0;
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
}

.list-item a {
    color: #ffff01;
    height: auto;
    padding: 5px;   
    border-bottom: 4px solid transparent;
    text-decoration: none;
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
}

.list-item a:hover,
.list-item a.active {
    background-color: #ffff01;
    color: black;
}